<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>数据录入</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"media="all" />
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all" />
</head>
<body>


<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
    <legend>电表数据录入</legend>
</fieldset>

<form class="layui-form" action="" lay-filter="meterDataForm" id="meterDataForm">
    <div class="layui-form-item">
        <label class="layui-form-label">电表编号</label>
        <div class="layui-input-block">
            <input type="text" name="meterId" lay-verify="required|title" autocomplete="off" placeholder="请输入电表编号" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">客户账号</label>
        <div class="layui-input-block">
            <input type="text" name="userId" lay-verify="required|title" autocomplete="off" placeholder="请输入客户账号" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">电表总数</label>
        <div class="layui-input-block">
            <input type="text" name="displayNumber" lay-verify="required|number" autocomplete="off" placeholder="请输入电表总数" class="layui-input">
        </div>
    </div>
    <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label">本月耗电</label>-->
        <!--<div class="layui-input-block">-->
            <!--<input type="text" name="consume"  autocomplete="off" placeholder="本月实际耗电总数" readonly="readonly" class="layui-input">-->
        <!--</div>-->
    <!--</div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">抄表时间</label>
        <div class="layui-input-block">
            <input type="text" name="recordDate" id="recordDate"  lay-verify="required|date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" id="description"  name="description" lay-verify="description"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否审核</label>
        <div class="layui-input-block">
            <input type="radio" name="state" value="1" checked="checked"  title="是">
            <input type="radio" name="state" value="0" title="否">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">审核人</label>
        <div class="layui-input-block">
            <input type="text" name="verifyPerson" lay-verify="title" autocomplete="off" placeholder="请输入审核人" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="reset" class="layui-btn " id="btnReset">重置</button>
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="doSubmit" id="doSubmit">提交</button>
        </div>
    </div>
</form>

<script type="text/javascript" th:src="@{/layui/layui.js}" src=""></script>
<script th:inline="javascript">
    layui.use(['form', 'layedit', 'laydate','jquery'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate
            ,$ = layui.jquery;
        // 渲染日期选择框
        laydate.render({
            elem: "#recordDate",
            type:'date'
        })

        //创建一个编辑器
        var editIndex = layedit.build('description');
        // 用来获取富文本内容弄
        form.verify({
            description:function () {
                layedit.sync(editIndex);
            }
        });

        // 给重置按钮绑定事件，用于清除富文本内容
        $(document).on("click","#btnReset",function () {
            layedit.setContent(editIndex,"");
        })

        //监听提交
        form.on('submit(doSubmit)', function(data){
            var params = $("#meterDataForm").serialize();
            $.post("/data/addMeterData",params,function (obj) {
                layer.msg(obj.msg);

            })
            return false;
        });

    });
</script>
</body>
</html>