<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>个人资料</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
	<link rel="stylesheet" th:href="@{/css/public.css}" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form layui-row" id="empInfoForm" >
	<div class="layui-col-md6 layui-col-xs12">
		<div class="layui-form-item">
			<label class="layui-form-label">员工编号</label>
			<div class="layui-input-block">
				<input type="text" name="empCode" th:value="${session.emp.empCode}"  class="layui-input layui-disabled">
			</div>
		</div>

		<div class="layui-form-item">
		<label class="layui-form-label">真实姓名</label>
		<div class="layui-input-block">
			<input type="text" name="empName" th:value="${session.emp.empName}" placeholder="请输入真实姓名" lay-verify="required" class="layui-input realName">
		</div>
	</div>
		<div class="layui-form-item">
			<label class="layui-form-label">员工类型</label>
			<div class="layui-input-block">
				<select name="type"  class="layui-input" disabled>
					<option value=""></option>
					<option th:selected="${session.emp.type}=='1'" value="1">超级管理员</option>
					<option th:selected="${session.emp.type}=='2'" value="2">营销经理</option>
					<option th:selected="${session.emp.type}=='3'" value="3">营销员</option>
				</select>
			</div>
		</div>

		<div class="layui-form-item" pane="">
			<label class="layui-form-label">性别</label>
			<div class="layui-input-block userSex">
				<input type="radio" name="sex" value="1" title="男" th:checked="${session.emp.sex}=='0'">
				<input type="radio" name="sex" value="0" title="女" th:checked="${session.emp.sex}=='1'">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">手机号码</label>
			<div class="layui-input-block">
				<input type="tel" name="phone" th:value="${session.emp.phone}" placeholder="请输入手机号码" lay-verify="phone" class="layui-input userPhone">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">出生日期</label>
			<div class="layui-input-block">
				<input type="text" name="birthday" id="date" th:value="${#dates.format(session.emp.birthday,'yyyy-MM-dd')}" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">家庭地址</label>
			<div class="layui-input-block">
				<input type="tel" name="address" th:value="${session.emp.address}" placeholder="家庭地址"  class="layui-input ">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">邮箱</label>
			<div class="layui-input-block">
				<input type="text" name="email" th:value="${session.emp.email}" placeholder="请输入邮箱" lay-verify="email" class="layui-input userEmail">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">描述</label>
			<div class="layui-input-block">
				<textarea name="description" th:text="${session.emp.description}" placeholder="请输入内容" class="layui-textarea myself"></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="changeEmp">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</div>
</form>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script th:inline="javascript">
	layui.use(['form','jquery','layer','laydate'],function(){
	    var form = layui.form;
	    var $ = layui.jquery;
	    var layer = layui.layer;
	    var laydate = layui.laydate;
        //渲染时间
        laydate.render({
            elem:'#date',
            type:'date'
        });

	    // 提交修改
		form.on("submit(changeEmp)",function(data){
		    var params = $("#empInfoForm").serialize();
			$.post('/emp/empInfo',params,function(obj){
			    layer.msg(obj.msg);
			});
			return false;
		});

	});
</script>

</body>
</html>