<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>报装登记</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="*" http-equiv="Access-Control-Allow-Origin">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="telephone=no" name="format-detection">
    <link href="favicon.ico" rel="icon">
    <link media="all" rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link media="all" rel="stylesheet" th:href="@{/css/public.css}"/>
</head>
<body class="childrenBody">
<!-- 搜索条件开始 -->
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>查询条件</legend>
</fieldset>
<form class="layui-form" id="searchFrm" method="post">
    <div class="layui-form-item">

        <div class="layui-inline">
            <label class="layui-form-label">客户账号</label>
            <div class="layui-input-inline">
                <input autocomplete="off" class="layui-input" name="userId" type="text">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal  layui-icon layui-icon-search" id="doSearch" type="button">
                    查询
                </button>
                <button class="layui-btn layui-btn-warm  layui-icon layui-icon-refresh" type="reset">重置</button>
            </div>
        </div>
    </div>
</form>


<div id="meterBar" style="display: none;">
    <a class="layui-btn layui-btn-green layui-btn-xs" lay-event="add">增容</a>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="jian">减容</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="guohu">过户</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">销户</a>
</div>

<!-- 数据表格开始 -->
<table class="layui-hide" id="meterTable" lay-filter="meterTable"></table>

<div class="layui-btn-group" id="meterTool" style="display: none;">
    <button class="layui-btn" lay-event="add" type="button">新装登记</button>
</div>
<!--更改电容-->
<div id="optionDiv" style="display: none;padding: 20px;">
    <form class="layui-form" id="optionForm" lay-filter="optionForm">
        <input name="meterId" type="hidden" value=""/>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">客户账号</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" readonly="readonly" lay-verify="required" name="userId" placeholder="请输入客户账号"
                           type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">电表</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input"  readonly="readonly" lay-verify="required" name="meterName" placeholder="请输入客户姓名"
                           type="text">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">原电路容量(A)</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" readonly="readonly" class="layui-input" lay-verify="required|number" name="type"
                           type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">现电路容量(A)</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" lay-verify="required|number" name="newType"
                           type="text">
                </div>
            </div>
        </div>

        <div class="layui-form-item" style="text-align: center;">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-release" lay-filter="doOptionSubmit"
                        lay-submit="" type="button">确认
                </button>
                <button class="layui-btn layui-btn-warm layui-btn-sm layui-icon layui-icon-refresh" type="reset">重置
                </button>
            </div>
        </div>
    </form>
</div>
<!--过户-->
<div id="guohuDiv" style="display: none;padding: 20px;">
    <form class="layui-form" id="guohuForm" lay-filter="guohuForm">
        <input name="meterId" type="hidden" value=""/>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">原客户账号</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" lay-verify="required" readonly="readonly" name="userId"
                           type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">电表</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input"  readonly="readonly" lay-verify="required" name="meterName" placeholder="请输入客户姓名"
                           type="text">
                </div>
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">电量容量</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" lay-verify="required" readonly="readonly" name="type"
                           type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">线路状态</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" id="std" class="layui-input"  readonly="readonly" lay-verify="required" name="stte"  placeholder=""
                           type="text" value="可用">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">新客户账号</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" lay-verify="required" name="newUserId"
                           type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">新客户名称</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" lay-verify="required" name="myname"
                           type="text">
                </div>
            </div>
        </div>


        <div class="layui-form-item" style="text-align: center;">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-release" lay-filter="doGouhuSubmit"
                        lay-submit="" type="button">确认过户
                </button>
                <button class="layui-btn layui-btn-warm layui-btn-sm layui-icon layui-icon-refresh" type="reset">重置
                </button>
            </div>
        </div>
    </form>
</div>
<!--给客户分配电表信息-->
<div id="addMeter" style="display: none;padding: 20px">
    <form class="layui-form" id="addMeterForm" lay-filter="addMeterForm">
        <input name="meterId" type="hidden" value=""/>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">客户账号</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" lay-verify="required" name="userId" placeholder="请输入客户账号"
                           type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">电容/A</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" lay-verify="required" name="type" required="required|number"
                           type="text">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">电表选择</label>
                <div class="layui-input-inline">
                    <select class="layui-input" id="selectName" lay-filter="selectName" name="meterName">

                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">电表状态</label>
                <div class="layui-input-inline">
                    <select class="layui-input" name="state">
                        <option value="0">可用</option>
                        <option value="1">停用</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">电表编码</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="code" lay-verify="required" name="code"
                           readonly="readonly"
                           type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">电表厂家</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="factory" lay-verify="required" name="factory"
                           readonly="readonly"
                           type="text">
                </div>
            </div>

        </div>
        <div class="layui-form-item" style="text-align: center;">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-release" lay-filter="doMeterSubmit"
                        lay-submit="" type="button">确认
                </button>
                <button class="layui-btn layui-btn-warm layui-btn-sm layui-icon layui-icon-refresh" type="reset">重置
                </button>
            </div>
        </div>
    </form>
    <!--<table lay-filter="meterTab" id="meterTab"></table>-->
</div>

<!--客户设备报装-->
<div id="divFacility" style="display: none;padding: 20px">
    <form class="layui-form" id="materForm" lay-filter="materForm">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">客户账号</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" lay-verify="required" name="userId" placeholder="请输入客户账号"
                           type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">客户姓名</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" lay-verify="required" name="userName" placeholder="请输入客户姓名"
                           type="text">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">设备名称</label>
                <div class="layui-input-inline">
                    <select id="select" lay-filter="price" lay-verify="required" name="facId">

                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-form-item">
                    <label class="layui-form-label">报装日期</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" id="date2" lay-verify="date" name="createDate"
                               placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">设备单价</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" id="facPrice" lay-verify="required|number" name="price"
                           readonly="readonly"
                           type="text">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">设备数量</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" class="layui-input" lay-verify="required|number" name="num" placeholder="请输入数量"
                           type="text">
                </div>
            </div>
        </div>

        <div class="layui-form-item" style="text-align: center;">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-release" lay-filter="doSubmitFacForm"
                        lay-submit="" type="button">提交
                </button>
                <button class="layui-btn layui-btn-warm layui-btn-sm layui-icon layui-icon-refresh" type="reset">重置
                </button>
            </div>
        </div>
    </form>

</div>

<script th:src="@{/layui/layui.js}"></script>
<script th:inline="javascript">
    var tableIns;
    layui.use(['jquery', 'layer', 'form', 'table', 'laydate'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var laydate = layui.laydate;

        var url;
        var mainIndex;
        var tableIns;

        laydate.render({
            elem: "#startDate",
            type: 'date'
        });
        laydate.render({
            elem: "#date2",
            type: 'date',
        });



        tableIns = table.render({
            elem: '#meterTable'   //渲染的目标对象
            , url: '/meter/meterList' //数据接口
            , toolbar: '#meterTool'
            , title: '电力设备信息'//数据导出来的标题
            , cellMinWidth: 100 //设置列的最小默认宽度
            , page: true  //是否启用分页
            , defaultToolbar: [""]
            , cols: [
                [
                    {field: 'meterId', title: 'ID', align: 'center', width: 80, sort: true},
                    {field: 'userId', title: '客户账号', align: 'center', width: 180, sort: true},
                    {field: 'meterName', title: '电表', align: 'center', width: 160, sort: true},
                    {field: 'type', title: '电路容量(A)', align: 'center', width: 120, sort: true},
                    {field: 'code', title: '电表编号', align: 'center', width: 160, sort: true},
                    {field: 'factory', title: '出厂商', align: 'center', width: 160, sort: true},
                    {
                        field: 'state', title: '线路状态', align: 'center', width: 100, sort: true, templet: function (d) {
                            return d.state == '0' ? '<font color=blue>可用</font>' : '<font color=red>停用</font>';
                        }
                    },
                    {field: 'startDate', title: '报装日期', align: 'center', width: 120, sort: true},
                    {fixed: 'right', title: '操作', toolbar: '#meterBar', width: 260, align: 'center'}
                ]
            ]
        });

        //监听行工具事件
        table.on('tool(meterTable)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if (layEvent === 'del') { //删除
                layer.confirm('真的删除ID为【' + data.meterId + '】报装记录吗', function (index) {
                    //向服务端发送删除指令
                    $.post("/meter/deleteMeter", {meterId: data.meterId}, function (res) {
                        layer.msg(res.msg);
                        //刷新数据 表格
                        tableIns.reload();
                    })
                });
            } else if (layEvent === 'edit') { //
                openEditMeter(data);
                $.ajax({
                    url: "/facility/findFacType2?facType=1",
                    type: "get",
                    datType: "json",
                    success: function (d) {
                        $("#selectName").html('<option value="-1"></option>');
                        $.each(d.data, function (key, val) {
                            var option1 = "<option value='" + val.facName + "' code='" + val.facCode + "' factory='" + val.facFactory + "'>" + val.facName + "</option>";
                            //通过LayUI.jQuery添加列表项
                            $("#selectName").append(option1);
                        });
                        form.val("addMeterForm", data);
                        layui.form.render('selectName');
                    }
                });
            } else if (layEvent === 'add') {
                openChange(data);
            } else if (layEvent === 'jian') {
                openChange(data);
            } else if (layEvent === 'guohu') {
                openGuohu(data);
            }
        });

        // 添加电容
        function openChange(data) {
            mainIndex = layer.open({
                type: 1,
                title: '更改容量',
                content: $("#optionDiv"),
                area: ['780px', '280px'],
                success: function (index) {
                    $("#optionForm")[0].reset();
                    form.val("optionForm", data);
                    url = "/meter/changeMeter";
                }
            });
        }

        // 添加电容
        function openGuohu(data) {
            mainIndex = layer.open({
                type: 1,
                title: '过户',
                content: $("#guohuDiv"),
                area: ['780px', '400px'],
                success: function (index) {
                    $("#guohuForm")[0].reset();
                    form.val("guohuForm", data);
                    url = "/meter/guohuMeter";
                }
            });
        }

        //打开编辑页面
        function openEditMeter(data) {
            mainIndex = layer.open({
                type: 1,
                title: '编辑报装信息',
                content: $("#addMeter"),
                area: ['780px', '480px'],
                success: function (index) {
                    url = "/meter/updateMeter";
                }
            });
        }

        //模糊查询
        $("#doSearch").click(function () {
            var params = $("#searchFrm").serialize();
            tableIns.reload({
                url: "/meter/meterList?" + params
            })
        });


        //监听头部工具栏事件
        table.on("toolbar(meterTable)", function (obj) {
            switch (obj.event) {
                case 'add':
                    openAddMeter();
                    $.ajax({
                        url: "/facility/findFacType2?facType=1",
                        type: "get",
                        datType: "json",
                        success: function (data) {
                            $("#selectName").html('<option value="-1"></option>');
                            $.each(data.data, function (key, val) {
                                var option1 = "<option value='" + val.facName + "' code='" + val.facCode + "' factory='" + val.facFactory + "'>" + val.facName + "</option>";
                                //通过LayUI.jQuery添加列表项
                                $("#selectName").append(option1);
                            });
                            layui.form.render('selectName');
                        }
                    });
                    break;
            }
        });


        // 客户安装设备
        function openAddMeter() {
            mainIndex = layer.open({
                type: 1,
                title: '客户报装设备登记',
                content: $("#addMeter"),
                area: ['780px', '480px'],
                success: function (index) {
                    //清空表单数据
                    $("#addMeterForm")[0].reset();
                    url = "/meter/addMeter";
                }
            });
        }

        // 编号厂商联动
        form.on('select(selectName)', function (data) {
            var code = $(data.elem).find("option:selected").attr("code");
            var factory = $(data.elem).find("option:selected").attr("factory");
            $("#code").val(code);
            $("#factory").val(factory);
        });

        //保存
        form.on("submit(doMeterSubmit)", function (data) {
            var params = data.field;
            $.post(url, params, function (obj) {
                layer.msg(obj.msg);
                //关闭弹出层
                layer.close(mainIndex);
                //刷新数据 表格
                tableIns.reload();
            })
        });
        // 更改电容
        form.on("submit(doOptionSubmit)", function (data) {
            var params = data.field;
            $.post(url, params, function (obj) {
                layer.msg(obj.msg);
                //关闭弹出层
                layer.close(mainIndex);
                //刷新数据 表格
                tableIns.reload();
            })
        });
        // 过户
        form.on("submit(doGouhuSubmit)", function (data) {
            var params = data.field;
            $.post(url, params, function (obj) {
                layer.msg(obj.msg);
                //关闭弹出层
                layer.close(mainIndex);
                //刷新数据 表格
                tableIns.reload();
            })
        });


    });
</script>
</body>
</html>